<h2>Why Web Sites For My Interest?</h2>
<table class="interests-alignment" border="0" cellpadding="10">
  <tbody>
  <tr>
    <td>It is more fun for you to interact.</td>
    <td>It is less fun for you to read a bunch of text.</td>
  </tr>
  <tr>
    <td>Browse different aspects of my interests.</td>
    <td>These Sites teach me about my interests.</td>
  </tr>
  </tbody>
</table>
<table cellpadding="5%">
  <colgroup>
    <col span="1" width="165px">
    <col width="600px">
    <col width="610px">
  </colgroup>
  <tr>
    <td></td>
    <td class="title-placement" bgcolor="#484848">
      <h1>Favorite Web Sites</h1>
    </td>
    <td class="title-placement">
      <h1>Software Development Android</h1>
    </td>
  </tr>
</table>
<table cellpadding="5%">
  <tr>
    <td valign="top" bgcolor="#00FF00">
      <ul>
        <li><a href="http://droid-life.com" target="MyFrame"> DROID LIFE </a></li>
        <li><a href="http://xda-developers.com" target="MyFrame"> XDA DEVELOPERS </a></li>
        <li><a href="http://lifehacker.com" target="MyFrame"> LIFE HACKER </a></li>
        <li><a href="http://amazon.com" target="MyFrame"> AMAZON </a></li>
      </ul>
    </td>
    <td width="600px" height="545px" bgcolor="black">
      <iframe
        src="http://droid-life.com"
        name="MyFrame"
        height="100%"
        width="100%"
      ></iframe>
    </td>
    <td width="610px" height="545px" bgcolor="black">
      <iframe
        src="http://www.android.com/"
        name="Android"
        height="100%"
        width="100%"
      ></iframe>
    </td>
</table>
<table>
  <tr>
    <td><h1>Music</h1></td>
  </tr>
</table>
  <table cellpadding="5%">
    <tr>
      <td valign="top" bgcolor="#00FF00">
        <ul>
          <li><a href="http://www.anberlin.com/main/home/" target="Music"> ANBERLIN </a></li>
          <li><a href="http://www.ultimate-guitar.com/" target="Music"> ULTIMATE-GUITAR </a></li>
        </ul>
      </td>
      <td width="1215px" height="800px" bgcolor="black">
        <iframe
          src="http://www.anberlin.com/main/home/"
          name="Music"
          height="100%"
          width="100%"
        ></iframe>
  </table>
