<h1>Lets Watch Some Video Clips</h1>
<table>
  <tr>
    <td>
      <iframe width="400" height="340"
              src="http://www.youtube.com/embed/WjyNE1-fgyA">
      </iframe>
    </td>
    <td>
      <iframe width="400" height="340"
              src="http://www.youtube.com/embed/LAr6oAKieHk">
      </iframe>
    </td>
    <td>
      <iframe width="400" height="340"
              src="http://www.youtube.com/embed/LVb1XRFl6Xo">
      </iframe>
    </td>
  </tr>
</table>
<table>
  <tr>
    <td>
      <h1>These are my favorite sports. I only play Volleyball and Basketball.</h1>
    </td>
  </tr>
</table>
