<h1>Robert Kuhlman</h1>
<table cellpadding="5%">
  <tr>
    <td width="150px" valign="top" bgcolor="#00FF00">
      <ul>
        <li><a href="http://www.droid-life.com" target="MyFrame"> DROID LIFE </a></li>
        <li><a href="http://www.lifehacker.com" target="MyFrame"> LIFE HACKER </a></li>
      </ul>
    </td>
    <td width="1600px" height="800px" bgcolor="black">
      <iframe
        src="http://droid-life.com"
        name="MyFrame"
        height="100%"
        width="100%"
      ></iframe>
    </td>
  </tr>

</table>
