<h1>PHP Project Converted to Angular 2</h1>

<div class="php-home-container">
  <p>The purpose of this project was to provide login and logout capabilities,
    save user info into a database, and pull information from a database and display it.
    I will be rebuilding this in Angular 2 code. There will be no php since Angular 2
    has it's own calls for database information. I will create a service that will load
    lists of data and have a local database that saves certain information. These functions
    will be similar to what was done in the php project.</p>

  <p>Click <a routerLink="/phpHome">here </a>or follow the links in the navigation bar to see the project.</p>

</div>
