<div class="papa-b-container">
  <h1>Papa Botulism</h1>
  <form name="PizzaForm">
    Name: <input type="text" name="Name" value="Your Name" size="20" maxlength="20">
    Phone: <input type="text" name="Phone" value="Phone Number" size="15" maxlength="15">
    <br/>
    Address: <input type="text" name="Address" value="Street Name" size="25" maxlength="25">
    City: <input type="text" name="City" value="City" size="10" maxlength="10">
    <br/>
    Email: <input type="text" name="Email" value="Your Email" size="25" maxlength="25">
    <br/>
    Comments: <input type="text" name="Comments" value="Comments" size="45" maxlength="45">
    <br/><br/><br/><br/>
    <b>SIZE:</b><br/>
    <input type="radio" name="PizzaSize" value="S"/> Small
    <input type="radio" name="PizzaSize" value="M"/> Medium
    <input type="radio" name="PizzaSize" value="L"/> Large
    <input type="radio" name="PizzaSize" value="X"/> Extra Large
    <br/><br/><br/><br/>
    <b>TOPPINGS:</b><br/>
    <table>
      <tr>
        <td><input type="checkbox" name="Toppings" value="PR" checked/></td>
        <td>Pepperoni</td>
      </tr>

      <tr>
        <td><input type="checkbox" name="Toppings" value="SA"/></td>
        <td>Sausage</td>
      </tr>

      <tr>
        <td><input type="checkbox" name="Toppings" value="CB"/></td>
        <td>Canadian Bacon</td>
      </tr>

      <tr>
        <td><input type="checkbox" name="Toppings" value="PI"/></td>
        <td>Pineapple</td>
      </tr>

      <tr>
        <td><input type="checkbox" name="Toppings" value="BC"/></td>
        <td>Bacon</td>
      </tr>

      <tr>
        <td><input type="checkbox" name="Toppings" value="MR"/></td>
        <td>Mushrooms</td>
      </tr>

      <tr>
        <td><input type="checkbox" name="Toppings" value="PP"/></td>
        <td>Peppers</td>
      </tr>

      <tr>
        <td><input type="checkbox" name="Toppings" value="XC"/></td>
        <td>Extra Cheese</td>
      </tr>

      <tr>
        <td><input type="checkbox" name="Toppings" value="XS"/></td>
        <td>Extra Sauce</td>
      </tr>

    </table>
    <br/><b>CRUST:</b><br/>

    <select name="Crust">
      <option value="Thin">Thin Crust</option>
      <option value="Deep">Deep Dish</option>
      <option value="Hand">Hand Tossed</option>
    </select>
    <br/><br/>
    <input type="submit" value="Submit"/>
    <input type="reset" value="Reset"/>
  </form>
</div>
