.papa-b-container{
  background-image: url('../../../assets/img/papab-1430/pizzaback.jpg');
  background-size:100%;
  height: calc(100vh - 24px);
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

table{
  margin: auto;
  background: none;
}

.form-container {
  width: 500px;
  margin: auto;
}

.crust{
  color: black;
}

b{
  font-size: 25px;
}
