<h1>Little Boxes</h1>
<div class="box1">
  Little boxes on a hillside,
  Little boxes made of ticky tacky,
  Little boxes on the hillside,
  Little boxes all the same.
  There's a green one and a pink one
  And a blue one and a yellow one,
  And they're all made out of ticky tacky
  And they all look just the same.
</div>
<div class="shadowBox">
  <div class="containerBox">

    <ul>
      <li>CSIS1430 HTML</li>
      <li>Extra content</li>
    </ul>
  </div>
</div>
<div class="box2">
  My own little box that has
  words in it.
</div>
