<div class="main-container">
  <div class="heading-alignment"><b class="my-info">Robert Kuhlman</b><br>
    <b>9508 S. Kilmuir Cir. South Jordan UT, 84095<br>801-864-8358</b></div>
  <br>
  <accordion>
    <accordion-group heading="EDUCATION" [isOpen]="status.isFirstOpen" [isDisabled]="isFirstDisabled">
      <tabset>
        <tab heading="High School">
          <table>
            <colgroup>
              <col span="1" class="col-one" width="15%">
              <col class="col-two" width="35%">
              <col class="col-three" width="50%">
            </colgroup>
            <tr>
              <th>Year:</th>
              <th>School:</th>
              <th>Status:</th>
            </tr>
            <tr>
              <td><p><b>2003-2006</b></p></td>
              <td><p><b>Bingham High School</b></p></td>
              <td><p><b>Graduate: High School Diploma</b></p></td>

            </tr>
          </table>
        </tab>
        <tab heading="SLCC">
          <table>
            <colgroup>
              <col span="1" class="col-one" width="10%">
              <col class="col-two" width="25%">
              <col class="col-three" width="65%">
            </colgroup>
            <tr>
              <th>Year:</th>
              <th>School:</th>
              <th>Status:</th>
            </tr>
            <tr>
              <td><p><b>2009-2016</b></p></td>
              <td><p><b>Salt Lake Community College</b></p></td>
              <td><p><b>Associates Degree in Computer Science.</b>
                <p><b>Certificates of Proficiency in: Computer Fundamentals and Web Development</b></p></td>
            </tr>
          </table>
        </tab>
        <tab heading="UVU">
          <table>
            <colgroup>
              <col span="1" class="col-one" width="15%">
              <col class="col-two" width="35%">
              <col class="col-three" width="50%">
            </colgroup>
            <tr>
              <th>Year:</th>
              <th>School:</th>
              <th>Status:</th>
            </tr>
            <tr>
              <td><b>2017-Current</b></td>
              <td><b>Utah Valley University</b></td>
              <td><p><b>Pursuing Bachelors Degree in:</b>
                <br><b>Computer Science</b></p>
            </tr>
          </table>
        </tab>
      </tabset>
    </accordion-group>
    <accordion-group heading="WORK EXPERIENCE">
      <tabset>
        <tab heading="T-Mobile">
          <table>
            <colgroup>
              <col span="1" class="col-one" width="10%">
              <col class="col-two" width="20%">
              <col class="col-three" width="70%">
            </colgroup>
            <tr>
              <th>Year:</th>
              <th>Position:</th>
              <th>Description:</th>
            </tr>
            <tr>
              <td><b>2009-2011</b></td>
              <td><b>Store Manager</b></td>
              <td>
                Previously employed as a Sales Manager for a third party t-mobile store.
                Started in March of 2010. Managed several employees and held weekly meetings
                to teach and motivate them to meet goals and know the products we were selling.
                <i> I was required to manage paperwork and maintain an organized clean location. </i>
              </td>
            </tr>
          </table>
        </tab>
        <tab heading="U.S. Bank">
          <table>
            <colgroup>
              <col span="1" class="col-one" width="10%">
              <col class="col-two" width="15%">
              <col class="col-three" width="75%">
            </colgroup>
            <tr>
              <th>Year:</th>
              <th>Position:</th>
              <th>Description:</th>
            </tr>
            <tr>
              <td><b>2011-2012</b></td>
              <td><b>Personal Banker</b></td>
              <td>
                Previously employed by U.S. Bank as a personal banker. My duties included account
                opening, Loan officer, and Teller transactions. I worked at an in-store location,
                which requires the employees to be able to do all of the things it would take several
                people in a traditional branch to do. Home re-finances, business loans, personal loans,
                credit cards, and account opening were among these things. We kept a balanced cash drawer
                and help people make good financial decisions based on their needs.
                <i>Experience in cash handling, selling, and software education.</i>
              </td>
            </tr>
          </table>
        </tab>
        <tab heading="Banner Bank">
          <table>
            <colgroup>
              <col span="1" class="col-one" width="10%">
              <col class="col-two" width="20%">
              <col class="col-three" width="70%">
            </colgroup>
            <tr>
              <th>Year:</th>
              <th>Position:</th>
              <th>Description:</th>
            </tr>
            <tr>
              <td><b>2012-2015</b></td>
              <td><b>Float Personal Banker</b></td>
              <td>
                Previously employed by AmericanWest Bank as a Person Banker Float. I help cover branches
                when employees need time off. My duties include teller transactions mostly. When not
                covering for someone I help organize loan files and audit account files. Same responsibilities
                as U.S. Bank.<i>Experience in cash handling and general customer service.</i>
              </td>
            </tr>
          </table>
        </tab>
      </tabset>
    </accordion-group>
    <accordion-group heading="SKILLS">
      <table>
        <colgroup>
          <col span="1" class="skills-col-light" width="30%">
          <col class="skills-col-dark" width="30%">
        </colgroup>
        <tr>
          <th>Programming:</th>
          <th>Business:</th>
        </tr>
        <tr>
          <td>
            <ul *ngFor="let p of programmingSkills">
              <li>{{p}}</li>
            </ul>
          </td>
          <td>
            <ul *ngFor="let b of businessSkills">
              <li>{{b}}</li>
            </ul>
          </td>
        </tr>
      </table>
    </accordion-group>
    <accordion-group heading="DESIRED WORK">
      <table>
        <colgroup>
          <col span="1" width="15%">
          <col class="col-three" width="70%">
        </colgroup>
        <tr>
          <td><img alt="" src="../../assets/img/SoftwareDevelopment.jpg"/></td>
          <td><b>Why I Am The Perfect Choice</b>
            <p>I am currently working towards a Bachelors Degree in Computer Science at Utah Valley University.
              I have finished and received an Associates Degree with Certificates of Proficiency
              in Computer Fundamentals, Web Development, Mobile Development, and Software Development from
              Salt Lake Community College. I am currently employed at BizVision and I am learning Angular 2.
              I am a quick learner and enjoy learning anything I can about computers and how to program them.
              I have a competitive personality and try to be the best at everything I do. I will work hard
              to accomplish my tasks, keep deadlines, and to learn and develop my skills to provide the best
              work experience possible for myself and my peers.</p></td>
        </tr>
      </table>
    </accordion-group>
  </accordion>
</div>
