<div class="pizza-body">
  <h1 class="pizza-form-title">
    Papa Botulism Pizza
  </h1>
  <div class="pizza-form-container">
    <form class="form form-horizontal">
      <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="firstname" placeholder="First Name (Required)">
        </div>
      </div>
      <div class="form-group">
        <label for="lastname" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="lastname" placeholder="Last Name (Required)">
        </div>
      </div>
      <div class="form-group">
        <label for="phone" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="phone" placeholder="Phone # (Required)">
        </div>
      </div>
      <div class="form-group">
        <label for="address" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="address" placeholder="Address (Required)">
        </div>
      </div>
      <div class="form-group">
        <label for="city" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="city" placeholder="City (Required)">
        </div>
      </div>
      <div class="form-group">
        <label for="state" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="state" placeholder="State (Required)">
        </div>
      </div>
      <div class="form-group">
        <label for="zip" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="zip" placeholder="Zip (Required)">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" placeholder="Email (Required)">
        </div>
      </div>
      <div class="form-group">
        <label for="comments" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="comments" placeholder="Comments">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success">Submit</button>
          <button type="reset" class="btn btn-primary">Clear Form</button>
        </div>
      </div>
    </form>

    <form class="pizza-form-sm-container form-horizontal">
      <div>

      </div>
    </form>
  </div>
</div>
