.html-home-container{

}
h1{
  text-align: center;
}

a{
  color: darkgreen;
}

.about-me-text{
  font-size: 16px;
}

.img-rotate{
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 390px;
  height: 240px;
}

.img-size{
  width: 240px;
  height: 390px;
}

table{
  height: calc(100vh - 24px);
}
