<div>
  <h1>About Me</h1>
  <table>
    <colgroup>
      <col width="25%">
      <col width="50%">
      <col width="25%">

    </colgroup>
    <tr>
      <td></td>
      <td class="about-me-text">
        I would just like to write a short paragraph about me. There are many things that could be said,
        but I will stick to some basic details. I am a college student going to school to get a degree
        in Programming. I enjoy sports, music, and anything electronic. This web site is designed to show
        you who I am at a glance. You will be able to see what <a routerLink="/sports">sports</a>
        I like. What my <a routerLink="/interests">interests</a> are, and my current
        <a routerLink="/resume">resume.</a> Hopefully it is easy enough to navigate and I hope
        you enjoy what you learn about me and the things I like.<br><br>
        <img class="img-rotate" src="../../assets/img/volleyball.jpg" alt="Volleyball">
        <img class="img-size" src="../../assets/img/guitar.jpg" alt="Guitar">
      </td>
      <td></td>
    </tr>
  </table>
</div>
