.home-container{
  padding-top: 105px;
  text-align: center;
  align-content: center;
  color: black;
  background-image: url("../../assets/img/vballback.jpeg");
}

.h3-t{
  color: #333333;
}

table{
  margin: auto;
  color: white;
  border: none;
  cellpadding: 2;
}
