<div class="home-container">

<h1>The Kuhlman Home Page</h1>

<img border="0" src="../../assets/img/DSC_000034(1).JPG" alt="Volleyball" width="250" height="300">


  <h3 class="h3-t">Welcome to my Home Page!</h3>
  <br>
  <div>I am currently working on my Computer Science degree through SLCC to eventually transfer to Weber.<br>
    I love most sports, my favorite being volleyball. (See Photo Above). Below you will find a list of<br>
    some of my interests and capabilities.</div>
<table>
  <tbody>
  <tr>
    <td>1. Finished Computer Science Associates Degree at SLCC.</td>
    <td>2. Finished certificates in Computer Science Fundamentals and Web Programming.</td>
  </tr>
  <tr>
    <td>3. Working on certificates for Mobile Application Development and Software Development.</td>
    <td>4. Love Sports and I can be overly competitive about them.</td>
  </tr>
  <tr>
    <td>5. Take charge type personality, but very good team player.</td>
    <td>6. I love new technology especially hand held devices.</td>
  </tr>

  </tbody>
</table>
</div>

