<div class="maps-container">
  <h1> Utah - <i>A Pretty Great State</i></h1>
  <map name=UtahMap>
    <area shape="rect" coords="118,5,141,20" href="http://www.bearlake.org" target=_blank>
    <area shape="rect" coords="52,43,123,124" href="http://www.visitthegreatsaltlake.com" target=_blank>
    <area shape="rect" coords="110,156,138,187" href="http://utahlake.gov" target=_blank>
    <area shape="rect" coords="251,252,296,295" href="http://www.discovermoab.com" target=_blank>
    <area shape="rect" coords="0,360,56,400" href="http://www.sgcity.org" target=_blank>

  </map>
  <img src="../../../assets/img/maps/UtahMap.jpg" usemap="#UtahMap">
</div>
